<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Smart Maintainance Portal</display-name>
  <welcome-file-list>
    <welcome-file>userLogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.maintaince.services.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depLogin</display-name>
    <servlet-name>depLogin</servlet-name>
    <servlet-class>com.maintaince.services.depLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depLogin</servlet-name>
    <url-pattern>/depLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDepartment</display-name>
    <servlet-name>addDepartment</servlet-name>
    <servlet-class>com.maintaince.services.addDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDepartment</servlet-name>
    <url-pattern>/addDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addHelpline</display-name>
    <servlet-name>addHelpline</servlet-name>
    <servlet-class>com.maintaince.services.addHelpline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHelpline</servlet-name>
    <url-pattern>/addHelpline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.maintaince.services.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>com.maintaince.services.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertcomment</display-name>
    <servlet-name>insertcomment</servlet-name>
    <servlet-class>com.maintaince.services.insertcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertcomment</servlet-name>
    <url-pattern>/insertcomment</url-pattern>
  </servlet-mapping>
</web-app>